{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static%}
    
    <h1>Primera apps en Django</h1>

    <h3>{{nombre}} tiene un hijo que se llama {{hijo.nombre}} que tiene {{hijo.edad}} años</h3> <!--esto se llama interpolacion-->

    <ol><!--listas no ordenadas-->
        {% for comida in comidas %}
            <li>{{comida}}</li>
        {% endfor %}
    </ol>   
    
    <img src="{% static 'alumnos/img/gatomalo.webp' %}" alt="">

    <!--aqui estoy trayendo alumnos de la base datos-->
    {% for alumno in alumnos%}
        {{alumno.rut}}, <br>{{alumno.nombre}} <br>
    {% endfor %}

</body>
</html>